<script language="javascript">
//dataTable  Step 2
$(document).ready(function () {
  $('#dtGene').DataTable();
  $('.dataTables_length').addClass('bs-select');
});
 
</script>
{% load static %}
{% if action == step %}
         <div class="container" id='content'>
            <h3 class="display-5">Predict from text mining/ Step 2</h3>
            <p><b><i>Please select genes and species for prediction</i></b></p>
                <br />
            <form method="POST" id="post-form" > <!--action="{% url 'predictform' %}" method="POST" -->
            <input type="hidden" id="token" value="{% csrf_token %}" />
                  <div class="form-group row">
                  <div class="col-sm-12">

                    <div class="form-group row">
                        <div class="col-sm-3"><label>TITLE</label></div>
                        <div class="col-sm-8"><i>{{ Title }} </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-3"><label>DOI</label></div>
                        <div class="col-sm-8"><i>{{ Doi }} </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-3"><label>YEAR</label></div>
                        <div class="col-sm-8"><i>{{ Year }} </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-3"><label>Article PMID</label></div>
                        <div class="col-sm-8"><i>{{ Articleid_pmid }} </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-3"><label >Article PMCID</label></div>
                        <div class="col-sm-8"><i>{{ Articleid_pmc }} </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-3"><label >Autors</label></div>
                        <div class="col-sm-8"><i>{{ Authors }} </div>
                    </div>
                     <div class="form-group row">
                    <div class="col-sm-3"><label for="actionselestcion">Select Service: </label><span  id="errorService"></span></div>                    
                    <div class="col-sm-8">
                        <select id="actionSelect" class="form-control" name="actionSelect" required>
                            <option value="">choice Service...</option>
                            {% for code, nom in actionDict.items %}
                            <option value="{{ code }}">{{ nom }}</option>
                            {% endfor %} 
                          </select>
                    </div>
                  </div>
                        <table id="dtGene" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                              <thead>
                               <tr>
                                <!-- <th colspan="5" align="center" bgcolor="#86899c"><b><font size="2"></font></b></th> -->
                               </tr>
                               <tr>
                                  <th class="th-sm"> # </th>
                                  <th>Check</th>
                                  <th class="th-sm"></th>
                                  <th class="th-sm">TaxaID</th>
                                  <th class="th-sm">Species</th>
                                  <!-- <th class="th-sm">Gene Locus</th> -->
                                  <th class="th-sm">Genes</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for key, mySpecieGene in tabresult.items %}
                                <tr>
                                  <td> {{ key|add:"+1" }} </td>
                                  <td></td>
                                  <td><input  type="checkbox" id="chk_{{ key|add:'+1' }}" name="speciegene" value="{{ mySpecieGene.gene }}_{{ mySpecieGene.species }}_{{ mySpecieGene.taxaid }}" class="form-check-input" onclick="test()" /> </td>
                                  <td>{{ mySpecieGene.taxaid }}</td>
                                  <td>{{ mySpecieGene.species }}</td>
                                  <!-- <td>{{ mySpecieGene.geneLocus }}</td> -->
                                  <td>{{ mySpecieGene.gene }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <button type="reset" class="btn btn-primary" >Reset</button>
                        <button type="button" class="btn btn-primary" onclick="submitFormStep2()" >Next =></button>
                      </form>
                    </div>

        </div>
    </div>
{% endif %}

{% if action == step2 %}
<div class="jumbotron">
         <div class="container" id='content'>
            <h3 class="display-5">Predict from text mining/ Step 3 </h3>
                <br />
            <form method="POST" id="post-form" > <!--action="{% url 'predictform' %}" method="POST" -->
            <input type="hidden" id="token" value="{% csrf_token %}" />
                  <div class="form-group row">
                    <div class="col-sm-8">
                        {{ PREDICTION_VALUE }}
                    </div>
                  </div>
              </form>
        </div>
    </div>
{% endif %}