{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <link href="{% static 'css/users.css' %}" rel="stylesheet">
{% endblock %}
{% block js %}
<script language="javascript">
//fonction de soumission du formulaire
 
</script>
{% endblock %}
{% block content %}
    <div class="jumbotron">
         <div class="container" id='content'>
            <h3 class="display-5">How to do </h1>
                <hr />
                 
                <br />
            <div class="row">
            <div class="col-sm-6">
            
             
            </div>
            <div class="col-sm-6" id="results"> 
                
            </div>
        </div>
        </div>
    </div>
    
{% endblock %}
