{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <link href="{% static 'css/users.css' %}" rel="stylesheet">
{% endblock %}
{% block js %}
<script language="javascript">
//fonction de soumission du formulaire
 function submitForm(){

    elementid=document.getElementById('elementid').value;
    database=document.getElementById('database').value;
    if(elementid!="" ){
            $('#content').html('<img src="{% static 'loading.gif' %}" alt="loading...." width="200" height="200" align="center" /> ');
            $.ajax({
            type:'POST',
            dataType : 'html',
            url:'{% url "ajaxpedicttextmining" %}',
            data:{
                database:database,
                elementid:elementid,
                csrfmiddlewaretoken:'{{ csrf_token}}',
                action: 'step1',
            },
            success:function(data){
                //document.getElementById("post-form").reset();
                //$("results").prepend(data)
                $('#content').html(data)
            },
            error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        $('#content').html("Error :"+xhr.status);
        }
        });
        }else{
            //$('#content').html("Error: invalid data please check - please check your fill");
            alert("Error: please check your fill");

        }
  
}
// Fonction de soumission de formulaire Step2

function submitFormStep2(){

    //get list of protein check 
    var tableau =[];
    var listCheck=""
    var taxaID="";
    var proteinName="";
    var specieName="";
    var checkbox =document.getElementsByTagName('input');
    compteur=checkbox.length;
    for (var i=0; i<compteur; i++){
        if (checkbox[i].checked==true){
            tableau[i]=checkbox[i].value;
            var data=checkbox[i].value;
            var tabData=data.split('_');
            taxaID=tabData[2];
            proteinName=tabData[0];
            specieName=tabData[1];
            if(listCheck=="")listCheck=taxaID;
            else listCheck=listCheck+";"+taxaID;
            }
        }
    //proteinName = $('#idProteinName').val();
    //specie = $('#idSpecie').val();
    proteinName = proteinName;
    specie = taxaID;
    proteinID=taxaID;
    proteinExternalId="";
    service = $('#actionSelect').val();
    //proteinID=$('#proteinID').val();
    //proteinExternalId=$('#proteinExternalId').val();
    //alert(proteinID)
    if(specie!="" && proteinName!="" && service!="" && listCheck!=""){
        $('#content').html(""); //reset result content
        $('#content').html('<img src="{% static 'loading.gif' %}" alt="loading...." width="200" height="200" align="center" /> ');
            $.ajax({
            type:'POST',
            dataType : 'html',
            url:'{% url "ajaxsearchprotein" %}',
            data:{
                proteinName:proteinName, 
                specie:specie,
                service:service,
                listCheck:listCheck,
                proteinID:proteinID,
                proteinExternalId:proteinExternalId,
                csrfmiddlewaretoken:'{{ csrf_token}}',
                action: 'step2',
            },
            success:function(data){
                //document.getElementById("post-form").reset();
                //$("results").prepend(data)
                $('#content').html(data)
            },
            error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        $('#content').html("Error :"+xhr.status+" Detail: "+ xhr.responseText);
        }
        });
    }else{
        alert("Error: please check your fill");
    }
    
}


function submitFormStep2_Old(){
    var speciesgenes="";
    var checkbox =document.getElementsByTagName('input');
    compteur=checkbox.length;
    var v=0;
    for (var i=0; i<compteur; i++){
        if (checkbox[i].checked==true){
            if (v==0){speciesgenes=checkbox[i].value; v=1;}
            else {speciesgenes=speciesgenes+"/"+checkbox[i].value;}
            }
        }

    if(speciesgenes!="" ){
            $('#content').html('<img src="{% static 'loading.gif' %}" alt="loading...." width="200" height="200" align="center" /> ');
            $.ajax({
            type:'POST',
            dataType : 'html',
            url:'{% url "ajaxpedicttextmining" %}',
            data:{
                speciesgenes:speciesgenes,
                csrfmiddlewaretoken:'{{ csrf_token}}',
                action: 'step2',
            },
            success:function(data){
                //document.getElementById("post-form").reset();
                //$("results").prepend(data)
                $('#content').html(data)
            },
            error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        $('#content').html("Error :"+xhr.status);
        }
        });
        }else{
            //$('#content').html("Error: invalid data please check - please check your fill");
            alert("Error: please check your fill");

        }

}
//Fonction de chargement des examples
function setexample(t){
    if(t==1){//PMC Example
        document.getElementById('elementid').value="PMC6386719";
        document.getElementById('database').value="pmc";
    }
    if(t==2){//PMC Example
        document.getElementById('elementid').value="PMC6052904";
        document.getElementById('database').value="pmc";
    }
    if(t==3){//PMC Example
        document.getElementById('elementid').value="PMC5517513";
        document.getElementById('database').value="pmc";
    }
    if(t==4){//PMC Example
        document.getElementById('elementid').value="PMC5193443";
        document.getElementById('database').value="pmc";
    }
    if(t==5){//PMC Example
        document.getElementById('elementid').value="PMC4243691";
        document.getElementById('database').value="pmc";
    }
    if(t==6){//PM Example
        document.getElementById('elementid').value="26748795";
        document.getElementById('database').value="pubmed";
    }
    if(t==7){//PM Example
        document.getElementById('elementid').value="25505449";
        document.getElementById('database').value="pubmed";
    }
    if(t==8){//PM Example
        document.getElementById('elementid').value="30807684";
        document.getElementById('database').value="pubmed";
    }
    if(t==9){//PM Example
        document.getElementById('elementid').value="30718429";
        document.getElementById('database').value="pubmed";
    }
    if(t==10){//PM Example
        document.getElementById('elementid').value="29432687";
        document.getElementById('database').value="pubmed";
    }   
}
</script>
{% endblock %}
{% block content %}
    <div class="jumbotron">
         <div class="container" id='content'>
            <h3 class="display-5">Predict from text mining/ Step 1 </h3>
                <br />
            <form method="POST" id="post-form" > <!--action="{% url 'predictform' %}" method="POST" -->
            <input type="hidden" id="token" value="{% csrf_token %}" />
              
              <div class="form-group row">
                    
                    <div class="col-sm-12"> 
                        <a href="#" onclick="setexample(1)">PMC-example1</a>  | 
                        <a href="#" onclick="setexample(2)">PMC-example2</a>  |
                        <a href="#" onclick="setexample(3)">PMC-example3</a>  |
                        <a href="#" onclick="setexample(4)">PMC-example4</a>  |
                        <a href="#" onclick="setexample(5)">PMC-example5</a>  |
                        <a href="#" onclick="setexample(6)">PM-example1</a>   |
                        <a href="#" onclick="setexample(7)">PM-example2</a>   |
                        <a href="#" onclick="setexample(8)">PM-example3</a>   |
                        <a href="#" onclick="setexample(9)">PM-example4</a>   |
                        <a href="#" onclick="setexample(10)">PM-example5</a>
                    </div>
                    
                  </div>

              <div class="form-group row">
                    <div class="col-sm-1"><label for="setid">Set ID</label><span id="error"></span></div>
                    <div class="col-sm-2">
                     <select name="database" id="database" class="form-control">
                           <option value="pmc" selected="selected">PMC</option>
                           <option value="pubmed">PubMed</option>
                    </select>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" name="elementid" id="elementid" placeholder="PmcID/PubMedID/PmID" class="form-control" />
                    </div>
                  </div>
                <button type="reset" class="btn btn-primary" >Reset</button>
                <button type="button" class="btn btn-primary" onclick="submitForm()" >Next=> </button> 
              </form>
        </div>
    </div>
    
{% endblock %}
