{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <link href="{% static 'css/users.css' %}" rel="stylesheet">
{% endblock %}
{% block js %}
<script language="javascript">

//dataTable  Step 2
$(document).ready(function () {
  $('#dtSpecies').DataTable();
  $('.dataTables_length').addClass('bs-select');
});
//table step 2

//fonction de soumission du formulaire
 function submitForm(){

    //organism=document.getElementById('idOrganism').value;

    var listCheck=""
    var checkbox =document.getElementsByTagName('input');
    compteur=checkbox.length;
    for (var i=0; i<compteur; i++){
        if (checkbox[i].checked==true){
            listCheck=checkbox[i].value;
            }
        }

    if(listCheck!="" ){
            $('#content').html('<img src="{% static 'loading.gif' %}" alt="loading...." width="200" height="200" align="center" /> ');
            $.ajax({
            type:'POST',
            dataType : 'html',
            url:'{% url "ajaxsearchorganism" %}',
            data:{
                organism_code:listCheck,
                csrfmiddlewaretoken:'{{ csrf_token}}',
                action: 'step1',
            },
            success:function(data){
                //document.getElementById("post-form").reset();
                //$("results").prepend(data)
                $('#content').html(data)
            },
            error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        $('#content').html("Error :"+xhr.status);
        }
        });
        }else{
            //$('#content').html("Error: invalid data please check - please check your fill");
            alert("Error: please check your fill");

        }
  
}

function checkFormStep2(){

    //get list of protein check 
    //var tableau =[];
    var listCheck=""
    var checkbox =document.getElementsByTagName('input');
    var listProteinName=""
    var listGeneLocus=""
    compteur=checkbox.length;
    for (var i=0; i<compteur; i++){
        if (checkbox[i].checked==true){
            //tableau[i]=checkbox[i].value;
            alldata=checkbox[i].value;
            tabData=alldata.split("|");
            proteiname=tabData[0]
            geneLocus=tabData[1]
            if(listProteinName==""){
                listProteinName=proteiname;
                listGeneLocus=geneLocus
            }
            else {
                listProteinName=listProteinName+','+proteiname;
                listGeneLocus=listGeneLocus+','+geneLocus

            }
          }
        }
    //{{ myProtein.gene_name }}|{{ organism_code }}:{{ myProtein.gene_locus }}
   /* var listCheck=""
    var checkbox =document.getElementsByTagName('input');
    compteur=checkbox.length;
    for (var i=0; i<compteur; i++){
        if (checkbox[i].checked==true){
            listCheck=checkbox[i].value;
            }
        }
    */
    proteinName = $('#idProteinName').val();
    specie = $('#idSpecie').val();
    service = $('#actionSelect').val();
    organism_code = $('#organism_code').val();
    listCheck=listProteinName+'|'+organism_code+':'+listGeneLocus;
    //alert(listCheck);
    //proteinID=$('#proteinID').val();
    //proteinExternalId=$('#proteinExternalId').val();
    //alert(proteinID)
    if(specie!="" && proteinName!="" && service!="" && listCheck!=""){
        $('#content').html(""); //reset result content
        $('#content').html('<img src="{% static 'loading.gif' %}" alt="loading...." width="200" height="200" align="center" /> ');
            $.ajax({
            type:'POST',
            dataType : 'html',
            url:'{% url "ajaxsearchlistprotein" %}',
            data:{
                proteinName:listProteinName, 
                specie:specie,
                service:service,
                listCheck:listCheck,
                csrfmiddlewaretoken:'{{ csrf_token}}',
                action: 'step2',
            },
            success:function(data){
                //document.getElementById("post-form").reset();
                //$("results").prepend(data)
                $('#content').html(data)
            },
            error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        $('#content').html("Error :"+xhr.status+" Detail: "+ xhr.responseText);
        }
        });
    }else{
        alert("Error: please check your fill");
    }
    
}
//function check number of protein check 
function numberCheck(idchechbox){
    var numberTotalCheck=5    
    var checkbox =document.getElementsByTagName('input');
    var numbercheck=0;
    compteur=checkbox.length;
    for (var i=0; i<compteur; i++){
        if (checkbox[i].checked==true){
            numbercheck++;
          }
        }
        //alert(idchechbox)
    if(numbercheck>numberTotalCheck){
       document.getElementById(idchechbox).checked = false;
       alert("you can only check "+ numberTotalCheck +" proteins")
     }
}
</script>
{% endblock %}
{% block content %}
    <div class="jumbotron">
         <div class="container" id='content'>
            <h3 class="display-5">Predict from Organism </h1>
                 
                <br />
            <!--
            <div class="row">
            <div class="col-sm-6">
            -->
            <form method="POST" id="post-form" > <!--action="{% url 'predictform' %}" method="POST" -->
            <input type="hidden" id="token" value="{% csrf_token %}" />
              
<table id="dtSpecies" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
     <!-- <table class="table table-striped" width="60%">  -->
      <thead>
        <tr>
          <th class="th-sm"> # </th>
          <th class="th-sm">Check</th>
          <th class="th-sm">TaxaId</th> 
          <th class="th-sm">Species</th>
          <th class="th-sm">#protein</th>
          <th class="th-sm">Description</th>
        </tr>
      </thead>
      <tbody>
        {% for key, mySpecie in species.items %}
        <tr>
          <td>{{ key|add:"+1" }}</td>
          <td><input  type="radio" id="chk_{{ mySpecie.organism_taxa }}" name="specie" value="{{ mySpecie.organism_code }}" class="form-check-input" /></td>
          <td>{{ mySpecie.organism_taxa }}</td>
          <td>{{ mySpecie.organism_name }}</td>
          <td></td>
          <td>{{ mySpecie.organism_description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
  
                <button type="reset" class="btn btn-primary" >Reset</button>
                <button type="button" class="btn btn-primary" onclick="submitForm()" >Next=> </button> 
              </form>
           <!-- <div class="col-sm-6" id="results"> 
                
            </div>
        </div>
    -->
        </div>
    </div>
    
{% endblock %}
