{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <link href="{% static 'css/users.css' %}" rel="stylesheet">
{% endblock %}
{% block js %}
<script language="javascript">
//fonction de soumission du formulaire
function example(number){
    if(number==1){
        document.getElementById('idProteinName').value="trpA";
    }else if(number==2){
        document.getElementById('idProteinName').value="trpB";
    }else if(number==3){
        document.getElementById('idProteinName').value="TRPC_ECOLI";
    }
}
function checkForm(){
    proteinName = $('#idProteinName').val();
    specie = $('#idOrganism').val();
    if(specie!="" && proteinName!=""){
        $('#content').html(""); //reset result content
        $('#content').html('<img src="{% static 'loading.gif' %}" alt="loading...." width="200" height="200" align="center" /> ');
            $.ajax({
            type:'POST',
            dataType : 'html',
            url:'{% url "ajaxsearchprotein" %}',
            data:{
                proteinName:proteinName, 
                specie:specie,
                csrfmiddlewaretoken:'{{ csrf_token}}',
                action: 'step1',
            },
            success:function(data){
                //document.getElementById("post-form").reset();
                //$("results").prepend(data)
                $('#content').html(data)
            },
            error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        $('#content').html("Error :"+xhr.status+" Detail: "+ xhr.responseText);
        }
        });
    }else{
        alert("Error: please check your fill");
    }
    
}

function checkFormStep2(){

    //get list of protein check 
    var tableau =[];
    var listCheck=""
    var checkbox =document.getElementsByTagName('input');
    compteur=checkbox.length;
    for (var i=0; i<compteur; i++){
        if (checkbox[i].checked==true){
            tableau[i]=checkbox[i].value;
            if(listCheck=="")listCheck=checkbox[i].value;
            else listCheck=listCheck+";"+checkbox[i].value;
            }
        }
    
    proteinName = $('#idProteinName').val();
    specie = $('#idSpecie').val();
    service = $('#actionSelect').val();
    proteinID=$('#proteinID').val();
    proteinExternalId=$('#proteinExternalId').val();
    //alert(proteinID)
    if(specie!="" && proteinName!="" && service!="" && listCheck!=""){
        $('#content').html(""); //reset result content
        $('#content').html('<img src="{% static 'loading.gif' %}" alt="loading...." width="200" height="200" align="center" /> ');
            $.ajax({
            type:'POST',
            dataType : 'html',
            url:'{% url "ajaxsearchprotein" %}',
            data:{
                proteinName:proteinName, 
                specie:specie,
                service:service,
                listCheck:listCheck,
                proteinID:proteinID,
                proteinExternalId:proteinExternalId,
                csrfmiddlewaretoken:'{{ csrf_token}}',
                action: 'step2',
            },
            success:function(data){
                //document.getElementById("post-form").reset();
                //$("results").prepend(data)
                $('#content').html(data)
            },
            error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        $('#content').html("Error :"+xhr.status+" Detail: "+ xhr.responseText);
        }
        });
    }else{
        alert("Error: please check your fill");
    }
    
}

//submit form to step 3
function selectAll (ch) {
    var tab = document.getElementsByTagName("input"); 
    for (var i = 0; i < tab.length; i++) { 
        if (tab[i].type == "checkbox")
            tab[i].checked = ch.checked;
    }
}
</script>
{% endblock %}
{% block content %}
    <div class="jumbotron" id='content'>
        <div class="container" id='content'>
            <h3 class="display-5">Predict from the name of the protein / [Step 1] </h3>
                 
                <br />
           <!-- <div class="row">
            <div class="col-sm-6">
            -->
            <form method="POST" id="post-form" > <!--action="{% url 'predictform' %}" method="POST" -->
            <input type="hidden" id="token" value="{% csrf_token %}" />
                <div class="form-group row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-8">
                        <a href="#" onclick="example(1)">#Example 1</a>
                        <a href="#" onclick="example(2)">#Example 2</a>
                        <a href="#" onclick="example(3)">#Example 3</a>
                    </div>
                  </div>

                <div class="form-group row">
                    <div class="col-sm-4"><label for="proteinName">Enter the name of the protein</label><span id="errorModel"></span></div>
                    <div class="col-sm-8">
                        <input type="text" name="proteinName" id="idProteinName" class="form-control" required />
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-4"><label for="organism"></label>Select the organism<span id="errorOrganism"></span></div>
                    <div class="col-sm-8">
                        <select id="idOrganism" name="organism" class="selectpicker" data-live-search="true" data-width="fit" required> <!--class="form-control" -->
                            <option value="auto" data-tokens="autodetect">autodetect</option>
                            {% for taxaId, organism in organismDict.items %}
                            <option value="{{ taxaId }}" data-tokens="{{ organism }}">{{ organism }}</option>
                            {% endfor %}                             
                          </select>
                    </div>
                     
                  </div>
                <button type="reset" class="btn btn-primary" >Reset</button>
                <button type="button" class="btn btn-primary" onclick="checkForm()" >Next => </button> 
              </form>
            </div>
            <!--<div class="col-sm-6" id="results"> 
                
            </div>
        -->
        <!--</div> -->
        </div>
    
{% endblock %}
